body {
	margin: 0%;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #08708A;
}

p {
	line-height: 1.75;
	margin: 15px;
	font-weight: 300;
}

.navbar {
	background-color: #EDFAFD;
	border: 1px solid rgba(0,0,0,0.2);
  	padding-bottom: 10px;
}

#logo {
	display: inline-block;
}

#main-nav {
	list-style-type: none;
	display: none;
	flex-direction: column;
}

#main-nav li{
	text-align: center;
	margin: 10px auto;
}

.nav-links {
	text-decoration: none;
}

#navbar-toggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
}

nav a {
	color: #08708A;
}

h1 {
	font-size: 22px;
	font-weight: 300;
	color: #08708A;
	text-align: center;
	margin: 15px 20px;
}

h1 span {
	font-size: 20px;
	font-weight: 300;
	color: #3DDAD7;
}

a {
	text-decoration: none;
	color: #2A93D5;
}

a:hover {
	color: #3DDAD7;
}

.nav-padding {
	margin-top: 0px;
}

#welcome-section {
	background-image: url(images/greece.jpg);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
}

#welcome-section h2 {
	color: #08708A;
	font-size: 45px;
	font-weight: 300;
	top: 25vh;
	left: -10px;
	padding: 50px 10px;
	text-align: right;
}

.highlight {
	background-color: rgb(237,251,254);
	opacity: 0.7;
}

.background-ocean-box {
	background-color: #BBDED6;
	width: 100%;
}

h2 {
	color: #08708A;
	font-size: 55px;
	font-weight: 300;
	text-align: right;
	margin: 0px;
}

h3 {
	font-size: 40px;
	font-weight: 300;
	margin: 10px;
}

h4 {
	line-height: 1.75;
	text-align: center;
	font-size: 24px;
	margin: 10px;
	font-weight: 400;
}

h5 {
	font-size: 18px;
	line-height: 1.5;
	margin: 10px;
}

.home-small-box {
	/*background-image: url(image/coins-travel.jpg);
	background-size: 200px 100px;
	background-repeat: no-repeat;*/
	background-color: #EDFAFD;
	border: 2px solid #08708A;
	width: 90vw;
	height: 275px;
	margin: 0 auto;
}

.home-small-box p {
	padding: 0 10px;
	text-align: center;
}

.first-sentence {
	font-size: 24px;
	font-weight: 300;
}

.button {
	background-color: #EDFAFD;
	font-size: 18px;
	color: #3DDAD7;
	border-radius: 6px;
	padding: 8px 24px;
	border: 2px solid #3DDAD7;
}

.button-container {
	text-align: center;
}

/* .button a {
	color: #3DDAD7;
} */

.button:hover {
	background-color: #3DDAD7;
}

.button a:hover {
	color: #EDFAFD;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}

.grid {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.testimonial-cell {
	margin: 1rem;
	padding: 10px 2px;
}

.testimonial-cell img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.responsive-image {
	max-width: 100%;
}

.newsletter {
	color: #3DDAD7;
	font-weight: 400;
}

/*SERVICE PAGE*/
.services-left {
	background-color: #BBDED6;
	text-align: center;
	height: 300px;
}

.services-right {
	text-align: center;
}

.included-list {
	text-align: left;
	line-height: 1.5;
}

ul {
	list-style-type: disc;
}

/* BLOG PAGE */
.blog-container img {
	display: block;
	margin: 0 auto;
}

.blog-container h3 {
	margin: 15px;
}

.blog-index-titles {
	text-align: left;
	line-height: 1.5em;
}

.blog-link {
	font-size: .75em;
}

.blog-post-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100vw;
	max-height: auto;
	padding: 15px;
}

.blog-date {
	font-size: .75em;
}

/*ABOUT PAGE*/
#about-container {
	background-color: #BBDED6;
}

#about-photo {
	border-radius: 80%;
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*CONTACT PAGE*/
#contact {
	text-align: center;
}

footer {
	background-color: #EDFAFD;
	font-size: 15px;
	line-height: 1.75;
	margin: 0;
	text-align: center;
}

@media screen and (min-width: 480px) {
	#welcome-section h2 {
	top: 35vh;
	left: 15vw;
	}
	h1 {
		font-size: 30px;
	}
	h1 span {
		font-size: 24px;
	}
}

@media screen and (min-width: 600px) {
	.grid {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.testimonial-cell {
		width: calc(50% - 2.25rem);
	}
}

/* insert break for blog index page -- side by side */
@media screen and (min-width: 768px) {
	p, h5, h4, .blog-post-container h3, .included-list, #legal{
		margin: auto;
		width: 80%;
	}
	.testimonial-about {
		width: calc(50% - 2.25rem);
	}
	#welcome-section h2 {
	left: 35vw;
	}
	.home-small-box {
	width: 55vw;
	height: 250px;
	margin: 0 auto;
	}
	.services-right p {
		text-align: left;
	}
	/* .included-list {

	} */
	.blog-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin: 0 8px;
	}
	.blog-container img {
		max-width: 100%;
		width: auto;
		max-height: 300px;
	}
	.blog-cell {
		width: 50%;
		height: 375px;
	}
	.blog-post-container img {
		margin-right: 10%;
	}
	.inline-image-right {
		float: right;
	}
	#about-photo {
		float: left;
		padding: 20px;
	}
	footer h5 {
		max-width: 40%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 992px) {
	h2 {
		font-size: 65px;
		width: 90%;
	}
	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 0;
		height: 116px;
	}
	#main-nav {
		display: flex !important;
		margin-right: 30px;
		flex-direction: row;
		justify-content: flex-end;
	}
	#main-nav li {
		margin: 0;
	}
	.nav-links {
		margin-left: 40px;
	}
	#navbar-toggle {
		display: none;
	}
	#welcome-section h2 {
		left: 0vw;
		font-size: 55px;
	}
	.home-small-box {
		height: 225px;
	}
	.testimonial-cell {
		width: calc(33.33% - 2.25rem);
	}
	.testimonial-about {
		width: calc(50% - 2.25rem);
	}
	.services-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.services-cell {
		width: 50%;
		height: 1000px;
	}
	#about-photo {
		float: left;
	}
}